
@model IEnumerable<LessonsMaker.Models.Lesson>

<h2>Lesson List</h2>

<p>
    @Html.ActionLink("Create New Lesson", "Create", new { })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lesson Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Upvote", "upvote", "apilesson", new { id=item.ID }) |
                    @Html.ActionLink("Downvote", "downvote", "api/lesson", new { id = item.ID }) |
                    @Html.ActionLink("Details", "lesson", "api",  new { id = item.ID }) |
                    @Html.ActionLink("Delete", "delete", "api", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
